<a href="https://colab.research.google.com/github/DaPenguinNinja/PythonRune/blob/main/%20Lesson%206%20-%20Loops%20(For%20and%20While).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops
### Goal
- Learn how to iterate over lists
- Iterate over the chars in a string
- Create a for-loop over a range
- Create a while-loop

In [ ]:
my_list = ['First', 'Second', 'Third']

In [ ]:
my_list

In [ ]:
for i in my_list:
    print(i)

In [ ]:
s = "Rune"

for c in s:
    print(c)
    print("Inside loop")
print("Outside the loop")

In [ ]:
for i in range(2, 4):
    print(i)

In [ ]:
my_list

In [ ]:
for i in range(len(my_list)):
    print(i, my_list[i])

In [ ]:
value = 10

while value > 0:
    value = int(input("Value? "))

### A few new things

In [ ]:
s = "abc"
c = 'd'

if c in s:
    print("c is in s")

In [ ]:
if c not in s:
    print("c is not in s")

In [ ]:
a = 13
b = 12
c = 10

if a < b or b < c:
    print("awesome")

In [1]:
my_list = ['First', 'Second', 'Third']

In [2]:
my_list

['First', 'Second', 'Third']

In [3]:
for item in my_list:
    print(item)

First
Second
Third

In [4]:
s = 'Peter'

for c in s:
    print(c)

P
e
t
e
r

In [5]:
for c in s:
    print(c)
    print("Inside the loop")
print("Outside the loop")

P
Inside the loop
e
Inside the loop
t
Inside the loop
e
Inside the loop
r
Inside the loop
Outside the loop

In [7]:
for i in range(4):
    print(i)

0
1
2
3

In [8]:
for i in range(2,4):
    print(i)

2
3

In [9]:
my_list

['First', 'Second', 'Third']

In [14]:
for i in range(len(my_list)):
    print(i,my_list[i],my_list[-i])

0 First First
1 Second Third
2 Third Second

In [15]:
value = 10

while value > 0:
    value = int(input("Value? "))

Value? 3
Value? 7
Value? 4566
Value? 345345
Value? -34

In [19]:
s = 'abc'
c = 'a'
d='t'

if c in s:
    print("c is in s")

c is in s

In [20]:

if d not in s:
    print("d is not in s")

d is not in s

In [22]:
a = 10 
b = 12
c = 14

if a < b and b < c:
    print("awesome")
if a < b or b <c:
    print("cool")

awesome
cool